<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="fragments/loginHeader :: loginHeader (${loginMember})"/>
    <div th:replace="~{fragments/boardHeader :: boardHeader (${boardType},${korName})}"></div>
    <div>
        <h4 th:text="${board.title}"></h4>
            <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>추천</th>
                <th>작성일</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <td th:text="${board.id}"></td>
            <td th:text="${board.recommend}"></td>
            <td th:text="${#temporals.format(board.writeDate,'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${board.unsignedUser}"></td>
            </tbody> </table>
    </div>

    <div>
        <span th:text="${board.content}"></span>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/board/{boardType}/{id}/recommend(id=${board.id},boardType=${boardType})}'|">
            추천</button>
        <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/board/{boardType}/{id}/edit(id=${board.id},boardType=${boardType})}'|">
            수정</button>
        <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/board/{boardType}/{id}/delete(id=${board.id},boardType=${boardType})}'|">
            삭제</button>
    </div>
        <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>