<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
        <a th:href="@{/board/{path}(path=${boardType})}"><h3 th:text="${boardType}"></h3></a>
        </div>
        <h4 th:text="${board.title}"></h4>
            <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>추천</th>
                <th>작성일</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <td th:text="${board.id}"></td>
            <td th:text="${board.recommend}"></td>
            <td th:text="${board.writeDate}"></td>
            <td th:text="${board.unsignedUser}"></td>
            </tbody> </table>
        <span th:text="${board.content}"></span>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>