<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <a th:href="@{/board/{path}(path=${boardType})}"><h4 th:text="${boardType}"></h4></a>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
                <th>추천</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td><a th:href="@{/board/{path}(path=${boardType})}" th:text="${board.title}"></a></td>
                <td th:text="${board.unsingedUser}"></td>
                <td th:text="${board.writeDate}"></td>
                <td th:text="${board.recommend}"></td>
            </tr>
            </tbody> </table>
    </div>
    <a class="btn btn-primary" th:href="@{/board/{path}/new(path=${boardType})}">글쓰기</a>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>