<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="~{fragments/bodyHeader :: boardHeader (${boardType},${korName})}"></div>


    <form th:action="@{/board/{path}/{id}/{validateType}/validate(path=${boardType},id=${boardId},validateType=${validateType})}" th:object="${passwordForm}" method="post">
        <div class="form-group">
            <label>비밀번호</label>
            <input type="text" th:field="*{password}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"></div>

</div> <!-- /container -->
</body>
</html>
